body {
    background-color: hsl(48, 100%, 96%);
}
/* HERO SECTION STYLING */
.hero{
    background-image: url(https://wallpapermogul.cohttps://media1.thehungryjpeg.com/thumbs2/800_3746250_cfq8ndzq1ke1xj4bzito8p1iwuazsvib16t8rmmj_red-theater-curtain-vector-theater-opera-or-cinema-closed-scene-realistic-red-drapes-illustration.jpgm/image/original/4wPl0ZqzQyPzf6D7Yi2CtVUAmJj.jpg) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* END HERO SECTION STYLING */

