body {
    background-color: hsl(48, 100%, 96%);
}
/* Hero Section */
.hero{
    background-image: url(https://wallpapermogul.com/image/original/4wPl0ZqzQyPzf6D7Yi2CtVUAmJj.jpg) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
